@using System.Web
@using Microsoft.AspNetCore.Identity
@model IEnumerable<Cheffie.Models.Post>
@inject UserManager<IdentityUser> UserManager;
@inject SignInManager<IdentityUser> signInManager;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cook)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
              
             @Html.Raw(item.Content)
               
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cook.Name)
            </td>
            <td>
                    @if (signInManager.IsSignedIn(User) && @UserManager.GetUserId(User)==item.Cook.OwnerID) {
                        <a asp-action="Edit" asp-route-id="@item.PostId">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.PostId">Delete</a>
                    
                    }
                    | <a asp-action="Details" asp-route-id = "@item.PostId" > Details </a>
                
            </td>
        </tr>
}
    </tbody>
</table>
